<!--contact section-->

<section id="contact" class="contact section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Contactanos</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>  ea sit eaque, laudantium veritatis earum.</p>
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="cold-md-12 p-0 pt-4 p-4 m-auto">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <input type="text" class="form-control" required placeholder="Tu nombre completo">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <input type="email" class="form-control" required placeholder="Tu email aquí">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <textarea name="" rows="3" required class="form-control" placeholder="Tu asunto aquí"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-warning btn-lg btn-block mt-3">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</section>