<div class="container">
    <div class="row align-items-center justify-content-center vh-100">
        <div class="col-md-4">
            <div class="card sketchy-card">
                <div class="card-header">
                    Sign In
                </div>
                <div class="card-body">
                    <form (submit)="signIn()">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
                        </div>
                        <div class="p-1">
                            <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Contraseña" required autofocus>
                        </div>
                        <button type="submit" class="btn btn-warning btn-lg btn-block mt-3">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
